<p id="notice"><%= notice %></p>

<h1>To Do</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>State</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @to_do %>
    <!-- 
    removemos o bloco <th></th> da tabela e colocamo-los como partial na _task.html.erb -->
  </tbody>
</table>

<br>

<h1>Doing</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>State</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @doing %>
    <!-- 
    removemos o bloco <th> Doing </th> da tabela e colocamo-los como partial na _task.html.erb -->
  </tbody>
</table>

<br>

<h1>Done</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>State</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @done %>
    <!-- 
    removemos o bloco <th> Done </th> da tabela e colocamo-los como partial na _task.html.erb -->  
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path %>
